@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(<link href="https://fonts.googleapis.com/css?family=Clicker+Script|Pacifico" rel="stylesheet">);
/*style reset*/

*{
    margin: 0;
    padding: 0;

/*intégrer le padding et le border dans la taille des boites*/
-webkit-box-sizing: border-box;
box-sizing:border-box;
}
/*configurer l'utilisation de 1 rem=10 px*/
html{
    font-size:62.5%;
}
body{
    text-align: center;
    font-size: 1.5rem; 
    font-weight: 400;
    font-family:  'Clicker Script', sans-serif;
    background-image: url("../img/fleurs.jpg");
}
h1{
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Pacifico', serif;
    padding-bottom: 5rem;
    padding-top: 2rem;
    color:snow;
}
h2{
    font-family: 'suez one',serif;
    margin-bottom: 1rem;
}
a{
    text-decoration: none;
    -webkit-transition: all .5s;
    transition: all .5s;
    }
/*style header*/
header{
    background-color:#BAE6D8;
    position: relative;
    padding:2rem;
}
nav{
    /*Sdisplay:none ;*/
    
    }

    h1 span{
        font-family: 'Pacifico', serif;
        display: block;
        font-size: .5em;
        
    }

    header > a{
        /*la balise a qui est enfant direct du header*/
        font-size:1.9rem;
        background: snow;
        color: #BAE6D8;
        width:4rem;
        height:4rem;
        display:inline-block;
       border: .2rem solid #BAE6D8;
        padding-top: .7rem;
        display:inline-block;
        position:absolute;
        top:100%;
        left:50%;
        -webkit-transform: translate(-50%,-50%);
        transform:translate(-50%,-50%);
        -webkit-border-radius: 50%;
         border-radius: 50%;
         
    }
    header > a:hover{
        color:snow;
        background: #BAE6D8;
        border-color: snow;
    }
    footer{
       position:fixed;
       bottom:0;
       left: 0;
       background:#BAE6D8;
       padding:2rem;
       width: 100%;
       color: snow;
       z-index: 1000;
    }
    footer a{
        color: snow;
    }
    /* toutes les balises li du footer sauf la derniére*/

    footer li:not(:last-child){
        display: inline-block;
        padding-bottom: 1rem;
    }

    /*afficher la nav au survol de la balise a du header*/
    header>a:hover + nav{
        display:block;

    }
    header li{
        background:rgba(255, 250, 250, 0.21);
        padding: 1rem;
        margin-bottom: 1rem;
    }
    ul{
        list-style-type: none;
    }
    header li:hover{
        background: snow;
    }
    header li:hover a{
        color:#BAE6D8;
    }
    nav a{
        color:snow;
    }
    main{
        padding: 4rem 2rem 10rem 2rem;
        
    }
    img{
        max-width:100%;
    }
    

    figure{
        position:relative;
        margin:2rem auto;
    }
    figcaption{
      font-weight: 700;
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 50%;
            width: 70%;

            background: white;
            padding: 1rem;
            
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    }
    article a{
        display:none;
    }
    figure:after {
            content: "";
            width: 100%;
            height: 3rem;
            position: absolute;
            bottom: 0;
            left: 0;
            background: white;
        }
         figcaption span{
            font-weight: 400;
            display: block;
        }

        .portfolioPage main a{
            color:white;
            background: #BAE6D8;
            padding: .5rem 1rem;
            position:absolute;
            top:-10%;
            left:50%;
            z-index:1;
            -webkit-transform:translateX(-50%);
            transform:translateX(-50%);
        }
        .portfolioPage article{
            position:relative;
            overflow: hidden;
            margin:2rem auto;
        }
        /*CHANGER LA PROPRI2T2 TOP DE LA BALISE a AU SURVOL DE L4ARTICLE*/
        .portfolioPage article:hover a{
            top:40%;
        }
        /*style contact*/
        form{
            margin:2rem auto;
        }
        textarea,input:not([type="submit"]){
            display:block;
            width:100%;
            border:none;
            border-bottom: .1rem dotted #BAE6D8;
            padding:1rem;
            margin-bottom: 2rem;
        }
        textarea{
            min-height: 15rem;
        }
        form :last-child{
            background: #BAE6D8;
            color:snow;
            border:none;
            padding: .5rem 1rem;
        }
        iframe{
            width:100%;
            min-height: 20rem;
            border:none;
        }
        /*requete média*/
        /*ecran de taille minimal de 400px*/
        @media screen and (min-width:400px){
           
            .portfolioPage article{
               
                display:inline-block;
                width: 49%;
                padding: 1rem;
            }
        }
        .portfolioPage article:nth-child(2n+2){
            padding:0 0 0 1rem;
        }
         @media screen and (min-width:750px){
             header>a{
                 display:none;
                 
             }
             nav{
                 display:block;
                 text-indent: 1rem;
             }
             nav li{
                 display: inline-block;
                 text-indent: 0;
             }
             main,h1,nav{
                 max-width: 85rem;
                 margin:auto;
             }
             header{
                 text-align: left;
                 padding:2rem 4rem;
             }
             h1 span{
                 display:initial;

             }
             h1{
                 font-size: 4rem;
                 text-indent: 1rem;
             }
             
         }