/* Importer un fichier CSS */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

/*
Style Reset
*/
    /* Supprimer toutes les marges */
    *{
        margin: 0;
        padding: 0;
    }

    /* Faire en sorte que 1rem soit égal à 10px */
    html{
        font-size: 62.5%;
    }

    body{
        font-size: 1.5rem; /* => 15px */

        /* Changer la famille de caractères */
        font-family: "Arial", sans-serif;
    }

    /* Supprimer la décoration des balises A */
    a{
        text-decoration: none;
    }

    /* Faire en sorte que les images ne dépassent pas leur parent */
    img{
        max-width: 100%;
    }

    section{
        padding: 6rem 0;
    }

    h1{
        /* Mettre le texte en majuscule */
        text-transform: uppercase;

        /* Augmenter la taille de la font (50px) */
        font-size: 5rem;

        /* Ajouter une marge intérieure en haut de 30px */
        padding-top: 3rem;
    }
/*creer une barre :horizontalsous la balise h1*/
h1:mafter{
    content:"du texte";
}
    h2{
        /* Augmenter la taille de la font (40px) */
        font-size: 4rem;

        /* Aligner le texte au centre */
        text-align: center;

        /* Modifier la casse */
        text-transform: uppercase;

        /* Ajouter une marge extérieure en bas de 30px */
        margin-bottom: 3rem;
    }

    h3{
        /* Modifier la taille de la font */
        font-size: 2.5rem;

         /* Modifier la casse */
        text-transform: uppercase;

        /* Ajouter une marge extérieure en bas de 30px */
        margin-bottom: 3rem;
    }

/*
Style largeur maximum
*/
    nav ul, #portfolio, #aboutMe p, #contacts, footer section{
        /* Définir une largeur maximum */
        max-width: 95rem;

        /* Centrer une balise de type block dans son parent */
        margin: auto;
    }


/*
Style header
*/
    header{
        /* Aligner le texte au centre */
        text-align: center;

        /* Modifier la couleur de la font */
        color: papayawhip;

        /* Ajouter une couleur de fond */
        background:cadetblue;

        /* Ajouter une marge intérieure en bas de 60px */
        padding-bottom: 6rem;
    }

    nav{
        /* Mettre le texte en majuscule */
        text-transform: uppercase;

        /* Aligner le texte à droite */
        text-align: right;

        /* Ajouter une couleur de fond */
        background: #2c3e50;

        /* Ajouter une marge intérieure de 30px */
        padding: 3rem;

        /* Ajouter une marge extérieure en bas de 60px */
        margin-bottom: 6rem;
    }

    nav a{
        /* Modifier la couleur du texte */
        color: papayawhip;

        /* Passer le texte en gras */
        font-weight: bold;
    }
    
    li{
        /* Aligner les balises LI */
        display: inline-block;

        /* Ajouter une marge extérieure à droite */
        margin-right: 1rem;
    }

    nav ul{

        /* Bloquer les enfants dans leur parent */
        position: relative;

    }

    #firstNavLi{

        /* Sortir la balise du flux pour la repositionner précisément */
        position: absolute;

        /* Placer la balise à gauche */
        left: 0;

        /* Modifier la taille de la font */
        font-size: 1.5em;

    }

    header p{
        /* Augmenter la taille de la font (25px) */
        font-size: 2.5rem;
    }


/*
Style portfolio
*/
    #portfolio{
        /* Centrer dans la largeur tous les éléments in-line */
        text-align: center;
    }

    #portfolio article{

        /* Ajouter une marge extérieure de 10px */
        margin: 1rem;

        /* Créer 3 colonnes */
        display: inline-block;
        width: 29%;

        /* Bloquer les enfants dans leur parent */
        position: relative;
    }

    #portfolio a {
        font-size: 8rem;
        background:cadetblue;
        color: white;

        /* Sortir la balise du flux pour la positionner précisément */
        position: absolute;

        /* Placer la balise en haut à gauche */
        top: 0;
        left: 0;

        /* Faire en sorte que la balise soit à 100% de la taille de son parent */
        width: 100%;
        height: 100%;

        /* Réduire l'opacité de la balise */
        opacity: 0;

        /* Gérer une transition entre les états de la balise */
        -webkit-transition: all .5s;
        transition: all .5s;
    }

    /* Modifier l'opacité de la balise en hover */
    #portfolio a:hover{
        opacity: 1;
    }


/*
Style About Me
*/
    #aboutMe{
        /* Modifier la couleur des textes */
        color: snow;

        /* Ajouter une couleur de fond */
        background: cadetblue;

        /* Centrer le texte */
        text-align: center;
    }

    #aboutMe p{
        /* Afficher le texte sur deux colonnes en CSS3 */
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;

        /* Justifier le texte */
        text-align: justify;

        margin-bottom: 4rem;
    }

    #aboutMe a {
        color: papayawhip;
        border: .3rem solid papayawhip;
        padding: 1rem 1.5rem;
        font-weight: bold;

        /* Céer un bord arrondi */
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        border-radius: 1rem;
    }
    

/*
Style Contact Me
*/
    input, textarea {
        display: block;
        width: 90%;
        margin: 1rem auto;
        padding: 1rem;
        font-size: 2rem;

        /* Annuler le style du navigateur */
        border: none;
        /* Redéfinir la bordure */
        border-bottom: .1rem solid papayawhip;
    }

    textarea{
        /* Définir une hauteur minimum */
        min-height: 20rem;
    }

    /* Sélectionner une balise grâce à son attribut et sa valeur */
    [type="submit"] {
        width: 10rem;
        display: inline-block;
        background: cadetblue;
        color:papayawhip;
        font-weight: bold;
        margin-left: 3rem;

        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        border-radius: .5rem;
    }



/*
Style footer
*/
    footer{
        color: papayawhip;
        text-align: center;
        background: #2c3e50;
    }

    footer article{
        display: inline-block;
        width: 29%;

        /* Gérer l'alignement vertical */
        vertical-align: top;
    }

    /* Sélectionner une balise grâce à son attribut et sa valeur */
    [href="http://google.com"]{
        color:cadetblue;
    }

    aside{
        padding: 1.5rem;
        background: #233140;
    }
