/* Importer FontAwesome */
/*@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);*/

/* Importer les polices */
@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:400,700');

/*
Style Reset
*/
    *{
        /* Supprimer toutes les marges */
        margin: 0;
        padding: 0;

        /* Intégrer les padding et les border dans les largeurs */
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    /* Ramener la valeur de 1rem à 10px */
    html{
        font-size: 62.5%;
    }

    body{
        font-size: 1.5rem; /* => 15px */
        font-family: 'Merriweather', serif;
        text-align: center;
    }

    h1, h2, h3 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }

    h1 {
        font-weight: 700;
        line-height: 1em;
        text-transform: uppercase;
        padding: 0 2rem;
    }

    h1:after, h2:after {
        content: "";
        display: block;
        width: 6rem;
        height: .2rem;
        background: #F05F40;
        margin: 2rem auto;
    }

    h3{
        font-size: 2rem;
        margin: 2rem auto 1rem auto;
    }

    a, figcaption, nav p{
        text-decoration: none;

        -webkit-transition: all .5s;
        transition: all .5s;
    }

    img{
        max-width: 100%;
    }

    header > a, main a{
        font-size: 1.2rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        padding: 1rem 1.5rem;
        
        -webkit-border-radius: 2rem;
        border-radius: 2rem;

    }


/*
Style header
*/
    header{
        color: white;
        padding:13rem 0 6rem 0;
        background-image:  url(../img/header.jpg);
        background-size: cover;
        background-position: center;
    }

    nav {
        text-align: right;
        color: #222;
        text-transform: uppercase;
        padding: 2rem;
        border-bottom: .1rem solid rgba(255, 255, 255, .3);
        background: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    nav a{
        color: #222;
    }

    nav a:hover{
        color: #F05F40;
    }

    li {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        padding: 0;
        margin: 1rem auto;
    }

    nav > a {
        font-size: 2rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        color: #F05F40;
        position: absolute;
        left: 2rem;
        top: 2.8rem;
    }

    nav ul {
        display: none;
        border-top: .1rem solid #c6c6c6;
        background-color: white;
        text-align: left;
        list-style: none;
        padding-top: 1rem;
        margin-top: 2rem;
    }

    nav p {
        font-size: 1.2rem;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        display: inline-block;
        border: .1rem solid #c6c6c6;
        padding: 1rem;
        cursor: pointer;
        
        -webkit-border-radius: .5rem;
        border-radius: .5rem;
    }

    nav p:hover{
        color: white;
        background-color: #c6c6c6;
    }

    nav p:hover + ul{
        display: block;
    }


    header > p{
        padding: 0 2rem;
        margin-bottom: 4rem;
    }

    header > a{
        color: white;
        background: #F05F40;
    }


/*
Style What you need 
*/
    section:first-child{
        color: white;
        background: #F05F40;
        padding: 4rem 2rem 6rem 2rem;
    }

    section:first-child h2:after{
        background: white;
    }

    section:first-child p{
        margin-bottom: 4rem;
        opacity: .7;
    }

    section:first-child a, section:nth-child(4) a{
        color: #222;
        background: white;
    }


/*
Style Services
*/
    section:nth-child(2){
        color: #222;
        padding: 4rem 2rem;
    }

    section:nth-child(2) h2:after{

        margin-bottom: 4rem;

    }

    section:nth-child(2) .fa{
        font-size: 4rem;
        color: #F05F40;
    }

    h3 + p {
        color: grey;
        margin-bottom: 4rem;
    }


/*
Style Portfolio
*/
    figure{
        position: relative;
        float: left;
        width: 100%;
        line-height: 0;
    }

    figcaption{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(240, 95, 64, .7);
        line-height: 1;
        opacity: 0;
    }

    figcaption:hover{
        opacity: 1;
    }

    figcaption a {
        color: rgba(255, 255, 255, .7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    a span {
        position: absolute;
        top: 50%;
        left: 50%;

        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    a b{
        font-weight: 400;
        font-size: 1.3em;
        color: white;
        display: block;
        text-transform: none;
    }


/*
Style Download
*/
    section:nth-child(4){
        color: white;
        background: #222;
        clear: both;
        padding: 4rem 2rem 6rem 2rem;
    }

    section:nth-child(4) h2{
        margin-bottom: 4rem;
    }

    section:nth-child(4) h2:after{
        display: none;
    }


/*
Style Footer
*/
    footer{
        color: #222;
        padding: 4rem 2rem;
    }

    footer .fa{
        font-size: 3rem;
        display: block;
        margin: 3rem auto 1rem auto;
    }

    footer a{
        color: #F05F40;
    }



/*
Requêtes media
*/
    /* Ecran d'une taille minimale de 650px */
    @media screen and (min-width: 650px) {
        
        /* Style Header */
            header{
                padding: 0 0 20rem 0;
            }

            nav{
                position: relative;
                margin-bottom: 15rem;
            }

            nav, nav ul{
                background: transparent;
            }

            nav a{
                color: white;
                opacity: .7;
                top: 2.4rem;
            }

            nav a:hover{
                color: white;
                opacity: 1;
            }

            nav p{
                display: none;
            }

            nav li, nav ul{
                display: inline-block;  
            }

            nav ul{
                border: none;
                margin: 0;
                padding: 0;
            }

            nav li:not(:last-child){
                margin-right: 1rem;
            }


        /* Style Services / Style Footer */
            section:nth-child(2) article, footer article{
                display: inline-block;
                vertical-align: top;
                width: 49%;
                padding: 0 2rem;
            }


          /* Style Portfolio */
            figure{
                width: 50%;
            }
    }

    /* Ecran d'une taille minimale de 850px */
    @media screen and (min-width: 850px){

        /* Style Reset */
            h2{
                font-size: 3rem;
            }

            header > a, main a{
                font-size: 1.5rem;
            }

        /* Style Header */
            header:before {
                content: "";
                display: block;
                height: .1rem;
                background: white;
                opacity: .7;
                position: absolute;
                width: 100%;
                top: 8rem;
            }

            nav{
                max-width: 95rem;
                margin: 0 auto 15rem auto;
                border: none;
            }

            h1 {
                font-size: 5rem;
                max-width: 85rem;
                margin: auto;
            }

            header > p{
                font-size: 1.8rem;
                max-width: 65rem;
                margin: 0 auto 4rem auto;
            }

        /* Style What you need */
            section:first-child{
                padding: 8rem 2rem;
            }
            
            section:first-child p{
                max-width: 65rem;
                margin: 0 auto 4rem auto;
            }
            
        /* Style Services*/
            section:nth-child(2), footer{
                max-width: 95rem;
                margin: auto;
                padding: 8rem 2rem;
            }

            section:nth-child(2) article {
                width: 24%;
            }

        /* Style Portfolio */
            figure {
                width: 33.3333%;
            }

        /* Style footer */
            footer{
                max-width: 75rem;
                margin: auto;
                padding: 10rem 0;
            }
    }