section{
    border:.1rem solid darkred;
    height: 30rem;
    width: 30rem;
    margin:10rem auto;
    /*bloquer les enfants dans leur parent*/
    position: relative;
}

p{
    margin: 0;
}
article{
    height: 5rem;
    width: 5rem;

    /*changer la postion pour placer précisement les articles*/
    position: absolute;
    
}
#first{
    background-color: lightseagreen;
    /*en bas à droite*/
    bottom:0;
    right: 0;
    }
#seconde{
    background: yellow;
    /*placer l'article en bas à gauche*/
    bottom:0;
    left:0;
}
#third{
    background: indianred;
    /*en haut à droite*/
    top:0;
    right: 0;

}
#fourth{
    background: cornflowerblue;
    /*en haut à gauche*/
    top:0;
    left:0;
}