/*
Reset
*/
    *{
        padding: 0;
        margin: 0;

        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    html{
        font-size: 62.5%;
    }

    body{
        font-size: 1.5rem;
        text-align: center;
    }

    img{
        max-width: 100%;
    }

    main{
        padding: 2rem;
    }


/*
Mettre le formulaire et l'image sur 2 colonnes
*/
    #myForm article{
        text-align: left;
        display: inline-block;
        width: 48%;
        vertical-align: top;
        margin: 2rem auto;
    }


/*
Modal
*/
    #modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);

        /* pour l'animation */
        display: none;
    }

    #modal article {
        width: 30rem;
        background-color: white;
        padding: 2rem;
        margin: 5rem auto;
    }