/*importer une feuille de style*/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
*{
    /*inclure dans les largeurs le pading et le border*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    text-align: center;
}
ul{
    padding: 0;
}
li{
   padding:1rem;
}
/*masquer la nav pour les mobile*/
nav{
    display: none;
}
/*gestion du burger menu en css*/
.fa-bars{
    /*changer l'aspect du curseur*/
    cursor:pointer;
    font-size: 2rem;
}
/*afficher la nav lorsque le curseur est au dessus du menu burger*/
.fa-bars:hover+ nav{
    display: block;
}
article{
    color: red;
}
/*configurer les style pour les écrans d'une taille minimale de 550px*/
@media screen and (min-width:550px){
    /*recrer les selecteurs pour les modifier */
    article{
        display:inline-block;
        width:49%;
    }
}
@media screen and (min-width:850px){
    /*réafficher la nav */
    /*-masquer le menu burger*/
    .fa-bars{
        display: none;
    }
    /*afficher la nav*/
    nav{
        display:block;
    }
    /*aligner à gauche le texte des articles*/
    article{
        text-align: left;
    }
    /*ajuster le style de la nav*/
    li{
        display:inline-block;
        padding:0 .5rem;
    }
    /*arreter le main de s'agrandir on arrivant à 950px tout en gardant le text centré(margin)*/
    main{
        max-width:950px;
        margin:auto;
    }
    header{
        max-width:950px;
        margin:auto;
        background: red;
        padding: 20px;
        border: 10px solid blue;

    }
}