a{
    font-size: 4rem;
    text-decoration: none;
    color:white;
    background: black;
    padding:0;

    /*les transitions s'ajoutent sur l'etat de base des balises*/
    -webkit-transition: background 2s,color 4s,padding;
    transition: background 2s,color 4s, padding 6s;
}
/*modifier l'aspect de la balise a au suvol*/
a:hover{
    color:red;
    background: grey;
    padding:2rem;
}

section{
    background: red;
    width:10rem;
    height: 10rem;

    /* transition sur tputes les prorpiétés */
    -webkit-transition: all 2s;
    transition: all 2s;
    /*modifier la courbe d'animation*/
    -webkit-transition-timing-function:linear;
    transition-timing-function: linear;
    /*ajouter un délai avant la taransition*/
    -webkit-animation-delay: 4s;
    transition-delay:4s;
}


section:hover{
    background: blue;
    -webkit-transform:rotateZ(160deg);
    transform:rotateZ(160deg)
}
li:hover{
    padding-left: .5rem;
    color:red;
    border-left: .5rem solid palevioletred;

}


