@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Merriweather:400i|Roboto:400,500,800');


*{
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    html{
        font-size: 62.5%;
    }

    body{
        font-size: 1.5rem;
        font-family: 'Merriweather', serif;
       }

      

    img{
        max-width: 100%;
    }

    header,main,footer{
        max-width: 100rem;
        margin: auto;
    }


     header{
        text-align: center;
        background-image: url(../img/header-bg.jpg);
        padding-bottom: 30rem;
        background-position: center;
        background-size: cover;  
           
    }

    header p{
    text-transform: uppercase;
    color: #FACE4C;  
    padding-top: 3rem;
    display: inline-block;
    margin-right: 12rem;
    }

    ul{   
        font-size: x-small;
        list-style:none;
    }


    nav{
        text-align: right;
        margin-left: 20rem;
        display: inline-flex;
    }

    li{
        
        display: inline-block;
       padding-left: 3rem;
       
    }

    a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }

     h4{
        color: white;
        margin-top:25rem;
        font-size: 2rem;
    }
    h1{
        color: white;
        margin-top: 5rem;
        font-size: 4rem;
        margin-bottom: 6rem;
    }

    h1 ~ a{
    background-color: #FACE4C;
    padding: 1rem;
    border-radius: .5rem;
    
    }

    figure {
        display: inline-block;
        width: 33,33%;
        position: relative;
    }

    figcaption{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
    
    }
    footer{
         font-family: 'Roboto', sans-serif;
         font-weight: 400; 
    }
    
    .error{
        border: .2rem red;
    }

    div{
        position:fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0, 0, .7);
        /*pour l'animation*/
        display:none;
        
    }
    div section{
        background-color: white;
        padding:2rem;
        border-radius: .5rem;
        position:relative;
    }
    .fa-times{
        position: absolute;
        top: .5rem;
        right: .5rem;
    }
       
    






