
/* Toutes les balises p de la section */
section p{
    color: red
}

/* Les balises P qui sont enfant direct de section */
section > p{
    color: blue;
}

/* Toutyes les balise P qui suivent la section */
section ~ p{
    color: yellow;
}

/* La balise P qui suit directement la balise section */
section + p{
    color: purple;
}

