<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Page à propos</title>
    </head>
    <body>

        <h2>A propos</h2>
        <img src="img/profil.jpg" alt="Photo de profil Julien Noyer">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur modi laudantium praesentium optio deleniti, explicabo.</p>

        <h3>Mes compétences</h3>
        <ul>
            <li>
                <p><span>HTML: 84%</span></p>
            </li>
            <li>
                <p><span>CSS: 25%</span></p>
            </li>
            <li>
                <p><span>JavaScript: 50%</span></p>
            </li>
        </ul>

        <p>N'hésitez pas à me contacter en cliquant <a href="#">sur ce lien</a>.</p>
        
    </body>
</html>