li{
    display: inline-block;
}
ul,main{
    padding:0;
    max-width: 40rem;
    margin:auto;
}
header,footer{
    background:black;
    color: white;
    padding: 3rem;
}
nav{
    text-align:right;
}
/*positionner la premiére li de la nav*/
#liOnleft{
    position:absolute;
    left:0;


}
nav ul{
    /*pour bloquer les enfants*/
    position: relative;
}

/*
Positionner la dernière li de la nav
*/
    footer ul{
        /* Bloquer les enfants LI */
        position: relative;
    }

    #lastLi{
        position: absolute;
        right: 0;
    }

/* 
Figer une balise 
*/
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    main {
        padding: 2rem 0;
    }
