<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home</title>
    </head>
    <body>
        
        <h2>Titre de la section Portfolio</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae incidunt enim, magni ex rerum distinctio, libero aspernatur praesentium itaque culpa temporibus sed consequuntur, necessitatibus et omnis eius error dolorem labore!</p>

    </body>
</html>