/*style reset*/
*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.5rem;
}
img{
    max-width:100%;
}
a{
    text-decoration: none;
}
/*style header
la nav ne dépasse pas 850px
ajouter une marge intérieure de 20px
les liens de la nav sont centrés sauf le premier qui est à gauche et le dernier qui est à droite */

header{
    padding:2rem;
    border:.1rem dashed black;
    text-align:center;

}
nav{
    max-width: 85rem;
    margin:auto;
    border:1rem double red;
    position:relative;
}
li{
    display: inline-block;
}
li:first-child, li:last-child{
    position:absolute;

}
li:first-child{
    left:0;
}
li:last-child{
    right:0;
}
/*style main
le main ne dépasse pas 850px
les différentes zones ont une marge en bas de 40px*/

main{
    max-width: 85rem;
    margin:0 auto 4rem auto;
}
section:not(:last-child){
    margin-bottom:4rem;

}
/*style portfolio
le portfolio est sur 2 colonnes
les ficaptions sont calés au dessus de l'image avec un fond de couleur blanc à 50% 
d'opacité tout en haut à gauche et sur toute la largeur*/
figure {
    display: inline-block;
    width: 49%;
    position:relative;
}
figcaption{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:1rem;
    background-color: rgba(255,255,255,.4);
}
/*style formulaire
le textarea et le input sauf le type submit font toute la largeur du formulaire
le type submit à une couleur de fond et une couleur de police*/
form{
    width: 50%;
    text-align: right;
    display:inline-block;
}
input:not([type=submit]),textarea{
width:100%;
padding: 1rem;
margin-bottom: 1rem;
}
[type=submit]{
    background-color: darkred;
    color: papayawhip;
    border:none;
    padding:1rem;
}
/*méthode desktop down*/
@media screen and (max-width:450px){
    figure{
        display:block;
        width:100%;
    }
}